
/*
color variables
*/

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$red: #ff1755;
$backgroundBlue: #121C25;
$foregroundBlue: #13314d;
$titleFont: #9cb1bf;
$mtShade: #9DB1BE;
/*
fonts
*/
@font-face {
  font-family: subspace;
  src: url(../media/fonts/Subspace.otf) format('opentype')
}
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

/*
Mixins
*/
@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform:  translateY($e);
  transform: translateY($e);

}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;

}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $white;
  font-weight: 400;
  font-style: normal;
  background-color: $backgroundBlue;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  color: $white;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid {
  line-height: 24px;
}
