@import '_config.scss';
@import 'stars.scss';
@import 'icons.scss';


header {
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  min-height:90px;
  color: $white;
  z-index: 7;

  .logo {
    margin-left: 10px;
    margin-top: 15px;
    width:500px;
    height:100%;
    display:flex;
    align-items: center;
    font-family: subspace;
    font-size: 5em;
    color: $titleFont;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }
}

body {
  height: 4000px;
}

@media (min-height: 730px) {
  body {
    height: 4100px;
  }
}

@media (min-height: 860px) {
  body {
    height: 4200px;
  }
}

.mainContent {
  z-index: 9;
  width:95vw;
  height: 97vh;
  min-height: 700px;

  border: 5px ridge $white;
  border-radius: 15px;
  background-color: #184169;
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
}

.componentBody{
  width:95vw;
  height: 100%;


  .componentHeader {
    height: 110;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 15px;
    h1{
      font-family: subspace;
      font-size: 2.25em;
      color: $titleFont;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    a {
      font-size: 1.2em;
      font-family: 'Kanit', sans-serif;
    }
    ul {
      margin-bottom: 0;
    }
  }
  @media (max-width: 560px) {
      .componentHeader {
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;

      }
  }

  .componentMain {
    height:88%;
  }

  .componentFooter {
  }
}

.about {
  display: flex;
  height: 100%;

  .aboutFiller {
    min-width: 340px;;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 35px;

    .aboutPic {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-image: url(../media/images/JordanFred.jpg);
      background-size: contain;
    }
  }
  .aboutContent {
    width: 70%;
    height: 100%;
    padding: 25px;
    h2 {
      font-family: 'Crimson Text', serif;
      text-align: center;
    }
  }

  .aboutIcons {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-around;

    div {
        height: 125px;
        width: 125px;
        background-position: center;
        background-repeat: no-repeat;
    }
  }
}

@media (max-width: 1100px) {
  .aboutContent{
    h2 {
      font-size: 1.4em;
    }
  }
  .aboutIcons {
    height: 75px;

    div {
      height: 75px;
      width: 75px;
    }
  }
}

@media (max-width: 800px) {
    .about {
      flex-direction:column;

      .aboutFiller {
        min-height: 180px;
        width: 100%;
        padding-top: 0px;

        .aboutPic {
          width: 175px;
          height: 175px;
        }
      }

      .aboutContent {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        h2 {
          font-size: 1em;
        }
      }

    }
}

@media (max-width: 500px) {
    .about {
      flex-direction:column;

      .aboutFiller {
        min-height: 180px;
        width: 100%;
        padding-top: 0px;

        .aboutPic {
          width: 175px;
          height: 175px;
        }
      }

      .aboutContent {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        h2 {
          font-size: 1.2em;
          margin-top: 0px;
        }
      }

      .aboutIcons {
        height: 50px;

        div {
          height: 45px;
          width: 45px;
        }

    }
  }
}

.splashWrap {
  hieght: 100vh;
  position:absolute;
}

.snow {
  position:fixed;
  height:50px;
  z-index: 4;
}

#movingBackground {
  z-index: 8;
  height:100vh;
  min-height: 650px;
  width: 100vw;
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: $foregroundBlue;
  color: #9cb1bf;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.personalLinks {
  height: 65px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-position: center center;
}

.iconSmall {
  height:35px;
  width:35px;
  margin-right: 3px;
  background-size: contain;
  background-position: center center;
  border-radius: 50%;

  &:hover {
    background-color: $backgroundBlue;
  }
}
.noHover:hover {
  border: 0px;
}

.scrollDownBtn {
  width: 75px;
  height:75px;
  z-index: 8;
  background-image: url(../media/images/arrowDown.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: auto;
}


#denver1, #denver2, #denver3, #denver4, #denver5 {
  width:1450px;
  height:1000px;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  position:fixed;
  z-index: 5;
  background: url(../media/images/denver1.png) 5% no-repeat;
  background-position: center top;
  background-size: 100%;
  display: inline-block;
}

@media (min-width: 1300px) {
  #denver1, #denver2, #denver3, #denver4, #denver5 {
    width:1605px;
    height:1137px;
  }
}

@media (min-width: 1700px) {
  #denver1, #denver2, #denver3, #denver4, #denver5 {
    width:2000px;
    height:1423px;
  }
}

#denver2 {
  z-index: 4;
  background: url(../media/images/denver2.png) center 5% no-repeat;
  background-size: 100%;
}
#denver3 {
  z-index: 3;
  background: url(../media/images/denver3.png) center 5% no-repeat;
  background-size: 100%;
}
#denver4 {
  z-index: 2;
  background: url(../media/images/denver4.png) center 5% no-repeat;
  background-size: 100%;
}
#denver5 {
  z-index: 1;
  background: url(../media/images/denver5.png) center 5% no-repeat;
  background-size: 100%;
}

.subHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  nav {
    display: flex;
    align-items: center;
    ul {
      padding-left: 0px;
    }
    ul li {
      list-style-type: none;
      display: inline-block;
      margin:6px;

      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }

  .scrollUpBtn {
    cursor: pointer;
    width: 40px;
    height:65px;
    background-image: url(../media/images/scrollArrowUp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin-left:15px;
  }
}

.projectsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;

}

@media (max-width: 1100px) {
    .projectsDisplay  {
          overflow-y: scroll;
    }
}

.projectsDisplay::-webkit-scrollbar {
    width: 1em;
}

.projectsDisplay::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: $white;
}

.projectsDisplay::-webkit-scrollbar-thumb {
  background-color: #6B899F;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

.linksNPic {
  width: 100%;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

.projectDiv {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 15px;
  height: 300px;
  width: 300px;
  background-color: #6B899F;
  color: #6B899F;
  display:flex;
  flex-direction:column;
  align-items: center;
  transition: all .25s;

    h4 {
      color: white;
    }



    .projectImage {
      min-width: 125px;
      min-height: 125px;
      border-radius: 50%;
      background-repeat: no-repeat;
      transition: all .25s;
    }

    .portfolioImg {
      background-image: url(../media/images/projectScreenshots/portfolioSite.png);
      background-position: center top;
      background-size: 276px 138px;
    }
    .pageSlayerImg {
      background-image: url(../media/images/projectScreenshots/pageSlayer.png);
      background-position: center center;
      background-size: contain;
    }
    .galacticMismatchImg {
      background-image: url(../media/images/projectScreenshots/galacticMismatch.png);
      background-position: center center;
      background-size: contain;
    }
    .pixelAidImg {
      background-image: url(../media/images/projectScreenshots/pixelAid.png);
      background-position: center center;
      background-size: cover;
    }
    .mskorImg {
      background-image: url(../media/images/projectScreenshots/mskorHomepage.png);
      background-position: center center;
      background-size: 150px 104px;
    }
    .pixelShareImg {
      background-image: url(../media/images/projectScreenshots/pixelShare.png);
      background-position: center center;
      background-size: 200px 139px;
    }

    .techUsed {
      margin: 5px;
      width: 175px;
      min-height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .tech {
        margin-right: 3px;

        display: flex;
        flex-direction:column;
        align-items: center;
        p {
          margin:0;
          color: $mtShade;
          text-align: center;
        }

      }

      .techIcon {
        width: 35px;
        height: 35px;
        background-size: contain;
      }

    }
    p{
      color: white;
      margin-left: 8px;
      margin-right: 8px;
      font-size: 12px;
      text-align: center;
    }
}

.resumeDisplay {
  padding-left: 15px;
  padding-right: 15px;

  .titleDiv {
    height: 12%;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    h2 {
      margin-bottom: 3px;
    }
  }
  .skillContainer {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 20px;

    .skillList {
      width: 25%;
      height: 100%;
      text-align: center;
      ul {
        list-style-type: none;
        padding-left:0;
      }
    }
  }
  .expNedu {
    border-top: 1px solid white;
    height: 40%;
    width: 100%;
    display: flex;
    padding-top: 10px;

    section{
      width: 50%;

      .exp{
        margin-bottom: 20px;
      }
    }
  }

}

.flex {
  display: flex;
}
.flexBot {
  display:flex;
  align-items: flex-end;
}
