@import '_config.scss';
@import 'stars.scss';

header {
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  min-height:90px;
  color: $white;
  z-index: 7;

  .logo {
    margin-left: 10px;
    margin-top: 15px;
    width:500px;
    height:100%;
    display:flex;
    align-items: center;
    font-family: subspace;
    font-size: 5em;
    color: $titleFont;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }


  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }
}

body {
  height: 6750px;
}

.mainContent {
  z-index: 9;
  width:95vw;
  height: 95vh;
  min-height:600px;
  border: 1px solid $white;
  border-radius: 15px;
  background-color: #184169;
  position:fixed;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);


}

.componentBody{
  width:95vw;
  height: 100%;


  .componentHeader {
    border: 1px solid red;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;

    font-family: subspace;
  }

  .componentMain {
    border: 1px solid red;
    height:75%;
  }

  .componentFooter {
    border: 1px solid red;
    height: 15%;
    padding: 15px;
  }
}

.splashWrap {
  hieght: 100vh;
  position:absolute;
}

.snow {
  position:fixed;
  height:50px;
  z-index: 4;
}

#movingBackground {
  z-index: 8;
  height:100vh;
  min-height: 650px;
  width: 100vw;
  position:fixed;
  left: 50%;
  transform: translateX(-50%);

  color: #9cb1bf;
  background-color: $foregroundBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.scrollDownBtn {
  width: 75px;
  height:75px;
  z-index: 11;

  background-image: url(../media/images/arrowDown.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: auto;

  position:fixed;
  transform: translateX(-50%);
  left: 50%;
}


#denver1, #denver2, #denver3, #denver4, #denver5 {
  width:1450px;
  height:1000px;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  position:fixed;
  z-index: 5;
  background: url(../media/images/denver1.png) 5% no-repeat;
  background-position: center top;
  background-size: 100%;
  display: inline-block;
}
#denver2 {
  z-index: 4;
  background: url(../media/images/denver2.png) center 5% no-repeat;
  background-size: 100%;
}
#denver3 {
  z-index: 3;
  background: url(../media/images/denver3.png) center 5% no-repeat;
  background-size: 100%;
}
#denver4 {
  z-index: 2;
  background: url(../media/images/denver4.png) center 5% no-repeat;
  background-size: 100%;
}
#denver5 {
  z-index: 1;
  background: url(../media/images/denver5.png) center 5% no-repeat;
  background-size: 100%;
}

.subFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    ul {
      padding-left: 0px;
    }
    ul li {
      list-style-type: none;
      display: inline-block;
      margin:6px;

      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }

  .scrollUpBtn {
    cursor: pointer;
    width: 40px;
    height:65px;
    background-image: url(../media/images/scrollArrowUp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin-left:15px;
  }

}

.projectsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;

}

.projectsDisplay::-webkit-scrollbar {
    width: 1em;
}

.projectsDisplay::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: $backgroundBlue;
}

.projectsDisplay::-webkit-scrollbar-thumb {
  background-color: #6B899F;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

.projectDiv {
  margin: 20px;

  border-radius: 15px;
  height: 225px;
  width: 200px;
  background-color: #6B899F;
  display:flex;
  flex-direction:column;
  align-items: center;
  cursor: pointer;
    .projectImage {
      width: 125px;
      height: 125px;
      border: 1px solid white;
      border-radius: 50%;
    }
    .techUsed {
      border: 1px solid white;
      margin: 5px;
      width: 175px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .tech {
        width: 35px;
        height: 35px;
        border: 1px solid red;


      }

      .js {
        backgorund-image: url(/javascriptIcon.svg)
        background-size: contain;

      }
    }
    p{
      margin: 5px;
      font-size: 10px;
      display: none;
    }
    &:hover {
      height: 350px;
      p{
        display: block;
      }
    }
}

.flex {
  display: flex;
}
